/* src/styling/Login.css */
.login-box {
    background-color: rgba(255, 255, 255, 0.8); /* Translucent background */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: auto; /* Center the box */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box vertically and horizontally */
}

.login-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-input:focus {
    border-color: #0066cc;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #004080;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

