.App {
  text-align: center;
}

.crossword-grid {
  display: inline-block;
  margin-top: 20px;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
